/* GLOBAL DEFINITIONS */
:root {
    --background-1: #191424;
    --background-2: #1d1729;
    --foreground-1: #2c1d47;
    --foreground-2: #473469;
    --accent: #c9511a;
    --primary-text: #EAEFEF;
    --secondary-text: #b3b4b4;
    --shadow: #00000055;
    --strong-shadow: #00000099;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}

text,
h1, h2, h3, h4, h5, h6
p,
span {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: var(--primary-text);
}

a {
    text-decoration: none;
}

/* CLASS DEFINITIONS */
.stack {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}
.stack > * {
    grid-column: 1;
    grid-row: 1;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.columns {
    display: flex;
    flex-direction: row;
}

.rows {
    display: flex;
    flex-direction: column;
}

.scroll_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scroll_background {
    width: 300%;
    height: 300%;

    /* Scrolling elements */
    background-size: 5vmax 5vmax;
    -webkit-animation: slide 4s linear 0s infinite;
    animation: slide 4s linear 0s infinite;
}
.scroll_background_offset {
    width: 300%;
    height: 300%;

    /* Scrolling elements */
    background-size: 5vmax 5vmax;
    -webkit-animation: slide 4s linear 2s infinite;
    animation: slide 4s linear 2s infinite;
}
@keyframes slide {
    0% {
        transform: translate(-30vmax, -20vmax);
    }
    100% {
        transform: translate(-20vmax, -30vmax);
    }
}

div.glow_on_hover {
    transition: border-color 0.3s;
}
div.glow_on_hover:hover {
    border-color: var(--accent);
}

svg.glow_on_hover {
    transition: fill 0.3s;
}
svg.glow_on_hover:hover {
    fill: var(--accent);
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    border-color: var(--primary-text);
    border-width: 2px;
    border-style: solid;

    border-radius: 5px;
    padding: 5px;
}
.icon > svg {
    width: 25px;
    height: 25px;

    fill: var(--primary-text);
}
.icon > span {
    font-size: 12pt;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
}


/* ID DEFINITIONS */
#background {
    width: 100%;
    height: 100%;

    background-color: var(--foreground-1);
}

#background2 {
    width: 98%;
    height: 98%;
}

#scroll {
    z-index: 2;
    background-color: var(--background-1);
}

#scroll2 {
    z-index: 1;
    background-color: var(--background-1);
}

#contents {
    width: 100%;
    height: 100%;
    z-index: 3;

    box-shadow: inset var(--shadow) 0 0 2vmin 1.5vmin
}

#card {
    align-items: stretch;

    border-radius: 10px;

    box-shadow: var(--shadow) 0 0 15px 10px;
}

#card_center {
    flex-grow: 1;
    align-items: stretch;

    padding: 10px 20px;

    background-color: var(--foreground-1);
    gap: 10px;

    border-color: var(--foreground-2);
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
}

#email_icon {
    scale: 1.4
}

#card_columns {
    column-gap: 20px;
    align-items: center;
}

#card_info {
    flex-grow: 1;
    align-items: stretch;

    align-items: start;
    align-content: end;
}

#profile_pic_wrapper {
    width: 150px;
    height: 150px;

    flex-shrink: 0;
}
#profile_pic_wrapper > * {
    width: 100%;
    height: 100%;
}

#profile_pic {
    z-index: 1;
}
#profile_pic_bw {
    filter: grayscale(80%);

    opacity: 100;
    transition: opacity 0.3s;
    
    z-index: 2;
}
#profile_pic_bw:hover {
    opacity: 0;
}

#profile_pic_shadow {
    z-index: 3;

    /* Ignore pointer events to allow hovering in lower z-axis elements. */
    pointer-events: none;

    border-radius: 10px;
    border-width: 3px;
    border-color: var(--background-2);
    border-style: solid;

    box-shadow: inset var(--strong-shadow) 0 0 20px 10px;
}

#name {
    margin: 0;
    font-size: 24pt;
}

#title {
    margin: 0;
    font-size: 16pt;
}

#links {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 5px;

    flex-grow: 1;
    align-content: flex-end;

    padding-top: 20px;
    padding-bottom: 10px;
}
#links > * {
    display: flex;
    flex-direction: row;
    gap: inherit;
}
#link_row1 {
    grid-column: 1;
    grid-row: 1;
}
#link_row2 {
    grid-column: 2;
    grid-row: 1;
}

@media screen and ((max-aspect-ratio: 5/8) or (max-width: 800px)) {
    #links {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }
    #link_row1 {
        grid-column: 1;
        grid-row: 1;
    }
    #link_row2 {
        grid-column: 1;
        grid-row: 2;
    }
}
