/* GLOBAL DEFINITIONS */
:root {
    --background-1: #191424;
    --background-2: #1d1729;
    --foreground-1: #2c1d47;
    --foreground-2: #473469;
    --accent: #c9511a;
    --primary-text: #EAEFEF;
    --secondary-text: #b3b4b4;
    --shadow: #00000055
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}

text,
p {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: var(--primary-text);
}

/* CLASS DEFINITIONS */
.stack {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}
.stack > * {
    grid-column: 1;
    grid-row: 1;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scroll_background {
    width: 300%;
    height: 300%;

    /* Scrolling elements */
    background-size: 5rem 5rem;
    -webkit-animation: slide 4s linear 0s infinite;
    animation: slide 4s linear 0s infinite;
}
.scroll_background_offset {
    width: 300%;
    height: 300%;

    /* Scrolling elements */
    background-size: 5rem 5rem;
    -webkit-animation: slide 4s linear 2s infinite;
    animation: slide 4s linear 2s infinite;
}
@keyframes slide {
    0% {
        transform: translate(-30rem, -20rem);
    }
    100% {
        transform: translate(-20rem, -30rem);
    }
}

.card_star {
    width: 4rem;
    height: 4rem;
    fill: var(--accent);

    -webkit-animation: rotation 10s linear infinite;
    animation: rotation 10s linear infinite;

    --start: 0deg;
}
@keyframes rotation {
    0% {
        transform: rotate(var(--start));
    }
    100% {
        transform: rotate(calc(360deg + var(--start)));
    }
}

.icon_row {
    display: flex;
    align-items: right;
    gap: 1rem;
}
.icon {
    width: auto;
    height: 100%;
    fill: var(--primary-text);
    transition: fill 0.3s
}
.icon:hover {
    fill: var(--accent);
}

/* ID DEFINITIONS */
#background {
    width: 100%;
    height: 100%;

    background-color: var(--foreground-1);
}

#background2 {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
}

#scroll {
    z-index: 2;
    background-color: var(--background-1);
}

#scroll2 {
    z-index: 1;
    background-color: var(--background-1);
}

#contents {
    width: 100%;
    height: 100%;
    z-index: 3;

    box-shadow: inset var(--shadow) 0 0 1.5rem 1.5rem
}

#links {
    height: 3rem;

    position: absolute;
    bottom: 2rem;
    right: 2rem;

    z-index: 4;
}

#details {
    height: 3rem;

    position: absolute;
    bottom: 1rem;
    left: 2rem;

    z-index: 5;
}
#details > p {
    color: var(--secondary-text);
    font-size: .9rem;
    transition: color 0.3s;
}
#details > p:hover {
    color: var(--accent);
}

#card {
    width: 45rem;
    height: 10rem;
    border-radius: 1rem;

    background-color: var(--foreground-2);
    transition: background-color 0.3s;  

    box-shadow: var(--shadow) 0 0 1rem 1rem;
}
#card:hover {
    background-color: var(--accent);
}

#card_center {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    border-radius: .6rem;

    background-color: var(--foreground-1);
    
    gap: 1.5rem
}

#status {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--primary-text);

    text-shadow: .3rem .3rem .3rem var(--shadow);
}

#star_r {
    --start: 180deg
}

#email {
    scale: 1.4
}
