:root {
    /* Global Definitions */
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

    /* Palette Colors - Dark */
    --accent:     #17cc30;
    --primary:    #457bee;
    --secondary:  #14213d;
    --foreground: #ffffff;
    --shade:      #e5e5e5;
    --background: #09142c;
}

.terminalText {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6em;
    margin: 0px;
    vertical-align: middle;
}

.plainText {
    max-width: fit-content;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    color: var(--shade);
}

.plainList {
    max-width: fit-content;
    margin: auto;
    text-align: center;
    color: var(--shade);
}

#terminalLine {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: .3em;
    background-color: var(--secondary);
    border-radius: .5em;
    overflow: hidden;
    white-space: nowrap;
}

#devTitle_path {
    color: var(--accent)
}

#devTitle_start {
    color: var(--foreground)
}

#devTitle {
    max-width: fit-content;
    margin: auto;
    color: var(--primary)
}

#devTitleCursor {
    width: 0.8rem;
    height: 85%;
    background-color: var(--foreground);
}
